#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/automouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000
#define ZMK_POINTING_DEFAULT_SCRL_VAL 12

&lt {
    tapping-term-ms = <180>; // Немного уменьшили для более отзывчивого пробела-слоя
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <0>;
    time-to-max-speed-ms = <100>;
    delay-ms = <0>;
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&hid_trackball_interface {
    automouse-layer = <1>;
    automouse-layer-timeout-ms = <600>;
    scroll-layers = <5>; // Скролл шаром теперь на слое 5 (бывший layer_5)            
    snipe-layers = <3>;
};

/ {
    scroll_vertical_encoder: scroll_vertical_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    scroll_horizontal_encoder: scroll_horizontal_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

        tap-ms = <100>;
    };

    behaviors {
        ts_snipe: trackball_snipe {
            compatible = "zmk,behavior-pointing-snipe";
            #binding-cells = <0>;
            velocity-multiplier = <4 1>;
        };

        ts_scroll: trackball_scroll {
            compatible = "zmk,behavior-pointing-scroll";
            #binding-cells = <0>;
            trigger-toggle;
        };

        game_dance_on: game_dance_on {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp SEMI>, <&tog_game_on>;
        };

        game_dance_off: game_dance_off {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp SEMI>, <&tog_game_off>;
        };

        caps_dance: caps_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "CAPS_DANCE";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPSLOCK>;
        };

        td_shifr_caps: td_shifr_caps {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_SHIFR_CAPS";
            #binding-cells = <0>;
            bindings = <&mt LEFT_SHIFT LEFT_SHIFT>, <&kp CAPSLOCK>;

            tapping-term-ms = <200>;
        };
    };

    macros {
        tog_game_on: tog_game_on {
            compatible = "zmk,behavior-macro";
            label = "tog_game_on";
            #binding-cells = <0>;
            bindings = <&amc AM_OFF &rgb_ug RGB_COLOR_HSB(0,100,50) &to 6>;
        };

        tog_game_off: tog_game_off {
            compatible = "zmk,behavior-macro";
            label = "tog_game_off";
            #binding-cells = <0>;
            bindings = <&amc AM_ON &rgb_ug RGB_EFR &to 0>;
        };

        To1_macro: To1_macro {
            compatible = "zmk,behavior-macro";
            label = "To1_macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFF &rgb_ug RGB_COLOR_HSB(128,100,50) &to 1>;
        };

        To1_macro_A: To1_macro_A {
            compatible = "zmk,behavior-macro";
            label = "To1_macro_A";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_COLOR_HSB(128,100,50) &to 1>;
        };

        To0_macro: To0_macro {
            compatible = "zmk,behavior-macro";
            label = "To0_macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFR &to 0>;
        };

        To2_macro_A: To2_macro_A {
            compatible = "zmk,behavior-macro";
            label = "To2_macro_A";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_COLOR_HSB(250,100,50) &to 2>;
        };

        To2_macro: To2_macro {
            compatible = "zmk,behavior-macro";
            label = "To2_macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_EFF &rgb_ug RGB_COLOR_HSB(250,100,50) &to 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            bindings = <
&kp GRAVE         &kp N1          &kp N2          &kp N3              &kp N4            &kp N5           &kp N6  &kp N7             &kp N8               &kp N9           &kp N0                   &kp BACKSPACE
&kp TAB           &kp Q           &kp W           &kp E               &kp R             &kp T            &kp Y   &kp U              &kp I                &kp O            &kp P                    &kp LEFT_BRACKET
&td_shifr_caps    &mt LEFT_WIN A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &kp G            &kp H   &mt RIGHT_SHIFT J  &mt RIGHT_CONTROL K  &mt RIGHT_ALT L  &mt RIGHT_WIN SEMICOLON  &kp RIGHT_BRACKET
&kp LEFT_CONTROL  &kp Z           &kp X           &kp C               &kp V             &kp B            &kp N   &kp M              &kp COMMA            &kp DOT          &kp FSLH                 &kp BACKSLASH
                                                  &kp ESCAPE          &mo 2             &kp BACKSPACE    &mo 3   &kp ENTER
                                                                      &kp SPACE         &mo 1            &mo 2
            >;

            sensor-bindings =
                <&scroll_vertical_encoder>,
                <&scroll_horizontal_encoder>;
        };

        Symbols {
            bindings = <
&kp F1          &kp F2           &kp F3           &kp F4           &kp F5           &kp F6        &kp F7           &kp F8                &kp F9                 &kp F10           &kp F11            &kp F12
&kp CAPS        &kp AMPERSAND    &kp PIPE         &kp EXCLAMATION  &none            &none         &kp AMPERSAND    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LESS_THAN     &kp GREATER_THAN   &none
&kp LEFT_SHIFT  &none            &none            &none            &bt BT_NXT       &bt BT_CLR    &kp EXCLAMATION  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none
&kp LCTRL       &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_EFF  &rgb_ug RGB_TOG  &none         &kp HASH         &kp UNDERSCORE        &kp PLUS               &kp EQUAL         &none              &kp EQUAL
                                                  &kp LEFT_ALT     &kp SPACE        &to 0         &trans           &trans
                                                                   &none            &mkp MB2      &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans     &trans    &trans    &trans    &trans       &trans     &trans     &trans     &trans     &trans     &kp DEL
&trans  &kp EXCL   &kp AT    &kp LBRC  &kp RBRC  &kp PIPE     &kp AMPS   &kp EQUAL  &kp PLUS   &kp ASTRK  &kp PRCNT  &trans
&trans  &kp HASH   &kp DLLR  &kp LPAR  &kp RPAR  &kp GRAVE    &kp TILDE  &kp MINUS  &kp UNDER  &kp COLON  &kp QMARK  &trans
&trans  &kp CARET  &kp LBRC  &kp LBKT  &kp RBKT  &kp BSLH     &trans     &trans     &trans     &trans     &trans     &trans
                             &trans    &trans    &trans       &trans     &trans
                                       &trans    &trans       &trans
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none  &none       &none         &kp N1  &none      &none            &none            &none            &to 0
&none  &none  &none  &none  &none       &none         &none   &none      &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_EFF  &rgb_ug RGB_TOG
&none  &none  &none  &none  &none       &none         &none   &mkp LCLK  &mkp RCLK        &none            &none            &none
&none  &none  &none  &none  &bt BT_NXT  &bt BT_CLR    &none   &none      &none            &none            &none            &none
                     &none  &none       &none         &none   &none
                            &none       &none         &none
            >;
        };

        Mouse {
            bindings = <
&none        &none         &none         &none         &none      &none         &none       &none      &none         &none         &none         &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 3  &none      &bt BT_CLR    &bt BT_CLR  &none      &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none        &trans        &trans        &mkp MCLK     &trans     &none         &none       &trans     &mkp MCLK     &trans        &trans        &none
&bootloader  &trans        &mkp RCLK     &mo 4         &mkp LCLK  &mo 5         &mo 5       &mkp LCLK  &mo 4         &mkp RCLK     &trans        &bootloader
                                         &mo 5         &mkp LCLK  &mkp RCLK     &mkp RCLK   &mkp LCLK
                                                       &none      &trans        &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
        };

        Gaming {
            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3        &kp N4     &kp N5      &kp N6     &kp N7     &kp N8     &kp N9            &kp N0           &kp BACKSPACE
&kp TAB         &kp Q   &kp W   &kp E         &kp R      &kp T       &kp Y      &kp U      &kp I      &kp O             &kp P            &kp BSLH
&kp LEFT_SHIFT  &kp A   &kp S   &kp D         &kp F      &kp G       &kp H      &kp J      &kp K      &kp L             &game_dance_off  &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C         &kp V      &kp B       &kp N      &kp M      &kp COMMA  &kp LEFT_BRACKET  &kp FSLH         &kp MINUS
                                &kp LEFT_ALT  &kp SPACE  &none       &kp LWIN   &kp SPACE
                                              &mkp MB1   &mkp MB2    &kp ENTER
            >;
        };
    };
};
